{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  
    <meta charset="UTF-8">
    <title>Оценки - студент</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap core CSS -->
    <link href="{% static 'marks.html/vendor/bootstrap/css/bootstrap.min.css' }" rel="stylesheet">

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'> -->

	<!-- Custom styles for this template -->
    <link href="{% static 'marks.html/css/style.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'marks.html/image/favicon.png' %}">
  <script type="text/javascript" src="../../lib/table.js">
  </script>
</head>
<body>

	<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% static 'marks.html/index.html' %}">КПИТ.ЖУРНАЛ</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% static 'marks.html/about.html' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'marks.html/services.html' %}">Дневник</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'marks.html/contact.html' %}">Расписание</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'marks.html/contact.html' %}">Личный кабинет</a>
            </li>
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>

    <!--<header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">-->
          <!-- Slide One - Set the background image for this slide in the line below
          <div class="carousel-item active" style="background-image: url('image/info1.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div> -->
          <!-- Slide Two - Set the background image for this slide in the line below 
          <div class="carousel-item" style="background-image: url('image/info2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>-->
          <!-- Slide Three - Set the background image for this slide in the line below 
          <div class="carousel-item" style="background-image: url('image/info3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>-->
    
 
    <!-- Page Content -->
    <div id="container-fluid"> 
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div id="marks" style="width: 100%;">
            <table class="table">
              <thead>
              <tr>
                <th>Модуль</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>МДК.02.03</th>
                {% for item in  %}
				    <td contenteditable="true">5</td>
				{% endfor %}
              </tr>
              <tr>
                  <th>МДК.03.01</th>
                  <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                </tr>
                <tr>
                    <th>МДК.03.03</th>
                    <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                  </tr>
                  <tr>
                      <th>ОГСЭ.04</th>
                      <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                    </tr>
                    <tr>
                        <th>МДК.01.02</th>
                        <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                      </tr>
                      <tr>
                          <th>МДК.03.02</th>
                          <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
                <td contenteditable="true">5</td>
               </tr>
               <tr>
                  <th>ОГСЭ.03</th>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                  <td contenteditable="true">5</td>
                </tr>
                <tr>
                    <th>МДК.02.03</th>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                    <td contenteditable="true">5</td>
                  </tr>
                  <tr>
                      <th>ОП.07</th>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                      <td contenteditable="true">5</td>
                    </tr>
                    <tr>
                        <th>ОП.15</th>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                        <td contenteditable="true">5</td>
                      </tr>
                      <tr>
                          <th>ИБ</th>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                          <td contenteditable="true">5</td>
                        </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
          <!--<script type="text/javascript">
            tab=new Table();
            predm = ["МДК.02.03", "МДК.03.01", "МДК.03.03", "ОГСЭ.04", "МДК.01.02",
            "МДК.03.02", "ОГСЭ.03", "МДК.02.03", "ОП.07", "ОП.15", "ИБ"]
            sizeX = predm.length+1;
            sizeY = 6;
            tab.create("marks", sizeX, sizeY);
        
            for(i=1; i<sizeX; i++)
              tab.set(i, 0, predm[i-1]);
        
            for(i=1; i<sizeX; i++)
              for(j=1; j<sizeY; j++)
                tab.set(i, j, Math.floor(Math.random()*(5-2)+2));
            for(i=1; i<sizeY; i++)
              tab.set(0, i, i);
          
              
          </script>-->
      
      <!--<h1 class="my-4">Welcome to Modern Business</h1>

       Marketing Icons Section 
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>-->
      <!-- /.row -->

      <!-- Portfolio Section 
      <h2>Portfolio Heading</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>-->
      <!-- /.row -->

      <!-- Features Section 
      <div class="row">
        <div class="col-lg-6">
          <h2>Modern Business Features</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>-->
      <!-- /.row 

      <hr>-->

      <!-- Call to Action Section 
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>

    </div>-->
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Wolf Pack специально для КПИТ</p>
      </div>
      <!-- /.container -->
    </footer>
	
	<!-- Bootstrap core JavaScript -->
    <script src="{% static 'marks.html/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'marks.html/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	
</body>
</html>